img{
  max-width: 100%;
}
button{
  background-color: transparent;
  border:none;
  cursor: pointer;
}
.video-box{
  height:400px;
}
@media (min-width:768px){
  .video-container__video{
      height: 500px;
  }
  .video-box{
    height:600px;
  }
}
.video-options{
  padding:20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__title{
  font-size:16px;
  font-weight: 500;
}
&__container{
  display:flex;
  flex-direction: column;
  align-items:stretch;

  &__views{
    font-weight: 400;
    font-size:14px;
    color: #606060;
  }

  .video-options__buttons{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & button{
      text-transform:uppercase;
      margin-right: 40px;
      font-weight: 600;
      align-items: center;
    }
    & button:last-child{
      margin-right: 0;
    }
    & img{
      margin-right: 10px;
      width:24px;
      height: 24px;
    }
  }
}
}


.video-options__title{
  font-size:16px;
  font-weight: 500;
}
.video-options__container{
  display:flex;
  flex-direction: column;
  align-items:stretch;
}

@media (min-width:768px){
  .video-options__container{
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
  }
}

.video-options__buttons{
  margin-top:20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video-options__buttons button{
  text-transform:uppercase;
  margin-right: 40px;
  font-weight: 600;
  align-items: center;
}
.video-options__buttons button:last-child{
  margin-right: 0;
}
.video-options__buttons img{
  margin-right: 10px;
  width:24px;
  height: 24px;
}
.video-options__views{
  font-weight: 400;
  font-size:14px;
  color: #606060;
}

.ch-info-container{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding:20px;

  &__avatar{
    margin-right: 20px;

    img{
      max-width: 50px;
      height:auto;
      cursor: pointer;
      border-radius: 50%;
    }
  }
  &__ch-info{

    .ch-info-container__name{
      cursor:pointer;
      font-size: 14px;
      font-weight: 500;
    }
    .ch-info-container__subs{
      color:#606060;
      font-size: 12px;
    }
    .ch-info-container__desc{
      color:#030303;
      line-height: 20px;
      font-weight: 400;
      font-size: 14px;
      margin-top: 20px;
    }
  }
  &__subs-btn button{
    background-color:#CC0000;
    color:white;
    margin-left: auto;
    padding:10px 16px;
    text-transform: uppercase;
  }

}
.ch-info-container__avatar{
  margin-right: 20px;
}
.ch-info-container__avatar img{
  max-width: 50px;
  height:auto;
  cursor: pointer;
  border-radius: 50%;
}
.ch-info-container__subs-btn button{
  background-color:#CC0000;
  color:white;
  margin-left: auto;
  padding:10px 16px;
  text-transform: uppercase;

}
@media (min-width:768px){
  .ch-info-container__ch-info{
      margin-right:auto;
  }
}

.ch-info-container__name{
  cursor:pointer;
  font-size: 14px;
  font-weight: 500;
}
.ch-info-container__subs{
  color:#606060;
  font-size: 12px;
}
.ch-info-container__desc{
  color:#030303;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}

