
.card__main{
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;    
    width: auto;
}

.card__sidebar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
  } 

.card__content{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}
  
.card__videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    flex-wrap: wrap;
}
  
.video {
    width: 360px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100%;
    height: 200px;
  }
  
  .thumbnail img {
    object-fit: cover;
    height: 96%;
    width: 100%;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .details {
    display: flex;
  }
   
  .title {
    display: flex;
    flex-direction: column;
  }
   
  .title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 6px;
  }
   
  .title a,
  span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 13px;
  }
