.card__main{
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
    width: auto;
}

.card__sidebar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
  }

.card__content{
  padding-top:50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}
.card__videos{
  max-width: 320px;
  padding: 10px;
}
.card__videos video{
  object-fit: fill;
}
.card__info{
  display: flex;
  flex-direction: column;
}
.card__info__title{
  align-items: flex-start;
  margin-top:5px;
  margin-bottom: 20px;
  display: flex;
  inline-size: 250px;
  overflow-wrap: break-word;
}
.card__info__channel{
  margin-top:-20px;
  padding-left: 60px;
}
.card__info__channel p{
  margin:0 !important;
}

.card__info__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.video {
    width: 360px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100%;
    height: 200px;
  }

  .thumbnail img {
    object-fit: cover;
    height: 96%;
    width: 100%;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .details {
    display: flex;
  }

  .title {
    margin:0px !important;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px !important;
  }

  .title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 6px;

  }
  .title:link, .title:visited{
    color:black;
  }

  .title a,
  span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 13px;
  }
