<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script  src="script.js"></script>
    <link rel="stylesheet" href="styles.css"> 
</head>
    
<body>
    <div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
    </div>
<div id="slideBox">
  <div class="topLayer">
    <div class="right">
      <div class="content">
        <h2>Ingresar</h2>
        <form method="post" onsubmit="return false;">
          <div class="form-group">
            <input type="text" placeholder="Usuario" />
            <input type="text" placeholder="Contraseña" />
          </div>
          <button id="goRight" class="off">Registrarse</button>
          <button id="login" type="submit">Acceder</button>
        </form>
      </div>
    </div>
  </div>
</div>
    
    
</body>

</html>
