.list-name{
    font-size: 1.6rem;
    color: #030303;
}
.button-play{
    font-size: 1.4rem;
    color: #606060;
    padding: 6px 16px;
}
.list-videos {
    margin-top: 24px;
    display: flex;
    div{
        width: 210px;
        height: 192px;
        background-color: #606060;
        padding-right: 4px;
    }
}
.list-details{
    display: flex;
    margin-top: 24px;
    align-items: center;
    cursor: pointer;
}
