
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo--active{
display: flex;
align-items: center;
padding-left: 21px;
}

.header__logo__burger {
  padding: 0 7px;
  cursor: pointer;
}

.header__logo__logo {
  width: 100%;
  height: auto;
}

.header__search-bar{
  display: flex;
}

.header__search-bar form{
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
}
.header__search-bar input:focus {
  border: 1px solid #ddd;
  outline: none;
}

.header__search-bar form input{
  box-sizing: border-box;
  width: 572px;
  height: 100%;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  border-radius: 2px 0 0 2px;
  padding:10px;
  border: 0;
  height: 100%;

}

.header__search-bar__icon{
  box-sizing: border-box;
  width: 64px;
  height: 100%;
  background: #F0F0F0;
  border: 1px solid #C6C6C6;
  display: flex;
  justify-content: center;
}

.header__search-bar__icon img{
  height: 22px;
  width: 22px;
  transform: translate(0%, 30%);
  border: none;
}

.header__search-bar__mic{
  width: 40px;
  height: 40px;
  background: #F9F9F9;
  border-radius: 100px;
  margin:5px 0 0 10px;
  display: flex;
  justify-content: center;
  transition: all 0.45s;
}

.header__search-bar__mic img{
  width: 20px;
  height: 22px;
  transform: translate(0%, 40%);
}
.header__search-bar__mic:hover{
  background: #cccbcb;

}

.header__user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 40px;
  width: 242px;
  display: flex;
  padding: 0 7px;
}

.header__user__apps{
  margin-top:10px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.header__user__settings{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header__user__sign-in{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 11px;
  gap: 9px;
  width: 162px;
  height: 40px;
  border: 1px solid #065FD4;
  border-radius: 2px;
  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

.header__user__sign-in__icon{
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header__user__sign-in__text--center{
  width: 107px;
  height: 16px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #065FD4;
}

@media (max-width: 768px) {
  .card__sidebar {
      display: none;
  }
  .header__search-bar {
      display: none;
  }
}


.sidebar-open{
width:250px !important;
}


.sidebar {
background-color:white;
height: 100%; 
width: 0;
position: fixed;
z-index: 9;
top:0;
left: 0;
overflow-x: hidden; 
padding-top: 40px;
transition: width 0.1s 0s ease-in-out;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
font-size: 'Roboto';
}

.sidebar a{
font-size:15px;
text-decoration: none;
}
@media (min-width:768px){
.sidebar a{
  font-size:18px;
}
}

.sidebar a:visited{
color:black;
}
.sidebar a:active{
color:red;
}

.main-sidebar hr{
padding-left:0px;
margin-left: -20px;
}
.main-sidebar ul{
padding: 0 20px;
margin:0;
}
.main-sidebar__categories{
padding-top:20px;
}
.main-sidebar__categories ul .main-sidebar__category{
display:flex;
}
.main-sidebar__category{
padding:10px;
}
.main-sidebar__category:active, .main-sidebar__category:link{
  color:black
  }

.main-sidebar__category img{
margin-right: 10px;
}


.sidebar__categories {
width: 100%;
display: flex;
flex-direction:row;
margin-bottom: 15px;
margin-top: 15px;
}

.sidebar__category {
display: flex;
align-items: center;
padding: 12px 25px;
block-size: 48px;
}

.toggle-listening{
  background: red;
}

.toggle-listening:hover{
  background: red;
}
