.html {
  font-size: 10px
}

.container {
  background: #f1f1f1;
  max-width: 1070px;
  margin: 0px;
  align-self: flex-start;
  box-sizing: border-box;
}

.introduccion {
  display: flex;
  padding: 30px 30px;
}

.video-title {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 16px;

  a {
    color: #030303;
    white-space: pre;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
  }
}

.video-stadistics {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #606060;
}

.video-description {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  max-width: 400px;
}

.video-container {
  width: 424px;
  height: 238px;
  margin-right: 24px;
  box-sizing: border-box;

  video {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .video-container {
    background-size: auto 100%;
    width: 100%;
  }

  .details-container {
    align-items: flex-start;
  }

  .channel-name {
    font-size: 1.8rem;
    font-weight: 100;
  }

  .details-container {
    flex-direction: column;
  }

  .channel-buttons {
    display: flex;
    flex-direction: column;
  }

  .introduccion {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .container {
    align-self: center;
    width: 100%;
  }

  .video-description {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    margin: 0px auto;
  }
}
