.channel-modal-container {
  width: 85%;
  background-color: white;
  margin: 40px auto;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  padding: 10px 0px;
  padding: 10px 0px;
}

.header-channel-modal {
  font-size: 1.6rem;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.element-item {
  padding: 20px;
  border: 1px solid #e7e7e7;
  margin: 10px;
}

.element-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.element-description {
  font-size: 1.4rem;
}

.button-add {
  color: #065fd4;
  margin-top: 10px;
}

.button-added {
  margin-top: 10px;
}
