<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="user-profile-styles.css">
    <title>user-profile</title>
</head>
<body>
<!-- profile page start -->
    <div class="user-profile">
        <div class="user-profile__container">
            <div class="user-profile__banner-visible-area">
                <img class="user-profile__banner-picture" src="https://imgs.search.brave.com/kAOYuuqXd4mIGW1-0CWqTpqFbTsOdX0xeqMNEfGzM2M/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9jZG4u/d2NjZnRlY2guY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDE4/LzAyL0dvb2dsZS5q/cGc" alt="Banner-example" />
            </div>
            <div class="channel-header">
                <div class="channel-header__container">
                    <img class="avatar" src="https://imgs.search.brave.com/q_gPTaxepW1SBg7L-MwIwEEoTJ9Q6Ho-aUCZIOIfHoA/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5u/SUMtN1hWTjNNSjBp/ekFGRjFfekR3SGFI/YSZwaWQ9QXBp" alt="user image"/>
                    <div class="text-container">
                        <div class="text__channel-name">Channel Name</div>
                    </div>
                    <div class="suscribe-button__container">
                        <button type="button" class="suscribe-button" >Suscribe</button>
                    </div>9
                </div>
            </div>
        </div>
    </div>
    <script src="user-profile-script.js"></script>
<!-- profile page end -->
</body>
</html>
