.modal-container {
  height: 70vh;
  width: 250px;
  background-color: white;
  margin: 60px auto;
  position: relative;
  font-size: 1.6rem;
}

.modal-header {
  font-size: 1.6rem;
  padding: 20px;
  border-bottom: 2px solid #f1f1f1;
}

.playlist-container {
  font-size: 14px;
}

.playlist-add {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  width: 100%;
  border-top: 2px solid #f1f1f1;
}

.playlist-item {
  display: flex;
  font-size: 1.6rem;
  margin: 10px auto;
  width: 80%;
  text-align: left;
}

.close-modal {
  position: absolute;
  right: 10px;
}

.cross {
  font-size: 3rem;
  margin: auto 0px;
  padding: 0px 10px;
}
