.card {
  height: 400px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  margin: 0 auto;
}
.card-container .form-group label[for=email], .card-container .form-group label[for=password]{
  width:100%;
}
.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginRegisterButton {
  color: black;
}
