.logo-item {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #d01818;
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.without-logo {
  width: 300px;
  height: 300px;
  max-width: 130px;
  max-height: 130px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background-color: #d01818;
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  position: relative;
}

.username-item {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.channelItem-container {
  width: 100%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.subscribes-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-countsubs {
  font-size: 1.2rem;
  font-weight: 500;
  color: #606060;
  text-align: center;
}

.statisctics-item {
  min-width: 160px;
  max-width: 200px;
}
