html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgb(95, 95, 95);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.sidebar ::-webkit-scrollbar {
  display: inline;
}

.sidebar__categories :hover {
  background: #e5e5e5;
  cursor: pointer;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.sidebar__categories {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar {
  height: 100%;
  width: 230px;
  overflow-y: scroll;
  overflow: hidden;
}

/* mobile*/
@media (min-width: 768px) {
  .main-sidebar {
    display: none;
  }
}

/* tablets */
@media (min-width: 992px) {
  .mobile-sidebar {
    display: none;
  }
}

/* computer screen/desktop */
@media (min-width: 1200px) {
  .mobile-sidebar {
    display: none;
  }
}

/* big screens */
@media (min-width: 1200px) {
  .mobile-sidebar {
    display: none;
  }
}
