<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar-styles.css">
</head>
<body>
        
          <!-- Sidebar Start -->
          <div class="sidebar">
            <div class="sidebar__categories">
              <div class="sidebar__category">
                <i class="material-icons">home</i>
                <span>Home</span>
              </div>
              <div class="sidebar__category">
                <i class="material-icons"></i>
                <span>Explore</span>
              </div>
              <div class="sidebar__category">
                <i class="material-icons">subscriptions</i>
                <span>Subcriptions</span>
              </div>
            </div>
            <hr />
            <div class="sidebar__categories">
              <div class="sidebar__category">
                <i class="material-icons">library_add_check</i>
                <span>Library</span>
              </div>
              <div class="sidebar__category">
                <i class="material-icons">history</i>
                <span>History</span>
              </div>
              <div class="sidebar__category">
                <i class="material-icons">play_arrow</i>
                <span>Your Videos</span>
              </div>
              <div class="sidebar__category">
                <i class="material-icons">watch_later</i>
                <span>Watch Later</span>
              </div>
              <div class="sidebar__category">
                <i class="material-icons">thumb_up</i>
                <span>Liked Videos</span>
              </div>
            </div>
          </div>
          <!-- Sidebar End -->

    <script src="side-bar-script.js"></script>
</body>
</html>
