/* The Modal (background) */
.social-modal-box {
  padding:30px;
  background-color: #fefefe;
  margin: 20% auto;
  border: 1px solid #888;
  width: 90%; 
}
@media (min-width:768px){
  .social-modal-box{
    width: 30%; 
  }
}
.social-modal-content{
  display: flex;
  justify-content: space-evenly;
  .social-modal-social{
    text-align: center;
  }
}
.social-modal-clipboard{
  margin:20px 0;
  display: flex;
  justify-content: space-around;

  & input{
    width: 60% !important;
  }
}
.social-tooltip {
  position: relative;
  display: inline-block;

  & button{
    background-color: black;
    padding:10px 20px;
    color:white;
  }
}

.social-tooltip .social-tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.social-tooltip .social-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.social-tooltip:hover .social-tooltiptext {
  visibility: visible;
  opacity: 1
}
