.banner-visible-area{
    height: calc(16.1290322581vw - 1px);
    width: 100%;
    background-image: url('../../../public/media/images/banner.jpg');
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}
