.banner-visible-area{
    height: calc(16.1290322581vw - 1px);
    width: 100%;
    background-image: url('../../../public/media/images/banner.jpg');
<<<<<<< HEAD
    background-position: 0 center;
=======
    background-position: 0 0;
>>>>>>> ec271ba1f71767b0367621b4f8986bbae8e4fce8
    background-repeat: no-repeat;
    background-size: 100% auto;
}
